<h3>Comments</h3>

<ul class="comment-list">
</ul>

<a href="/posts/1" class="comment-form-trigger">Add a comment</a>

<div id="comment-form">
  <form accept-charset="UTF-8" action="/posts/1/comments" class="new_comment" id="new_comment" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="Cs2IgVszo0mDDNAs7Q4j/uVKczuz6OaGFvuzUCaEW6w=" /></div>

  <div class="field">
    <label for="comment_body">Body</label><br />
    <textarea cols="40" id="comment_body" name="comment[body]" rows="20">
</textarea>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Create Comment" />
  </div>
</form>
</div>
